* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(wooden-floor-background.jpg);
}
h1{
    font-family: 'UnifrakturMaguntia', cursive;
    background-image: url(wood.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 90px;
    margin-top: 80px;
}
.Container{
    position: relative;
    width: 60%;
    margin: auto;
    top: 20px;
    padding: 5px;
}

#quoteText{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    position: relative;
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
}
#quoteAuthor{
    font-family: 'Crimson Text', serif;
    font-size: 25px;
    font-weight:600;
    text-align: center;
    margin-top: 20px;
}
button{
    font-family: 'UnifrakturMaguntia', cursive;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 5px solid rgba(29, 16, 1, 0.432);
    padding: 5px;
    transition: 0.5s;
    font-size: 30px;
    position: absolute;
    top: 90%;
    left: 80%;

}
button:hover{
    cursor: pointer;
    transition: 0.5s;
    border: 5px solid rgb(29, 16, 1);
}

@media screen and (max-width: 1024px) {
    button{
        font-size: 20px;
    }
    h1{
        font-size: 70px;
    }
}
@media screen and (max-width: 750px) {
    button{
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width: 520px) {
    h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 420px) {
    #quoteText{
        font-size: 22px;
    }
    h1{
        font-size: 40px;
    }
    button{
        font-size: 16px;
    }
}